<div class="card">
  <div class="card-header">
    <h3><%= "#{@turma.disciplina.nome} - #{@turma.codigo}" %></h3>
  </div>
  <div class="card-body">
    <div class="border rounded p-3">
      <h4 class="text-center">Informações</h4>
      <hr>
      <div class="d-flex justify-content-between">
        <span>
          <b>Professor:</b>
          <%= link_to professor_path(@turma.professor.id) do %>
            <%= @turma.professor.nome %>
          <% end %>
        </span>
        <span><b>Período:</b> <%= @turma.periodo %></span>
      </div>
    </div>
    <% if @turma.alunos.any? %>
      <h4 class="text-center mt-3">Alunos</h4>
      <div id="alunosTurma">
        <%= render partial: 'alunos/alunos', locals: { alunos: @turma.alunos } %>
      </div>
    <% else %>
      <p class="text-center mt-3">A turma não tem alunos inscritos.</p>
    <% end %>

    <%= render 'turmas/inscricao_aluno' %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
</div>