<div class="card">
  <div class="card-header">
    <h3><%= "#{@turma.disciplina.nome} - #{@turma.codigo}" %></h3>
  </div>
  <div class="card-body">
    <%= render partial: 'turmas/info', locals: { turma: @turma } %>
    <%= render partial: 'turmas/alunos_da_turma', locals: { turma: @turma } %>
    <%= render 'turmas/inscricao_aluno' %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
</div>