<div class="card">
  <div class="card-header">
    <h3><%= @professor.nome %></h3>
  </div>
  <div class="card-body">
    <div class="border rounded p-3">
      <h4 class="text-center">Informações</h4>
      <hr>
      <div class="d-flex justify-content-between ">
        <span><b>iduff:</b> <%= @professor.iduff %></span>
        <span><b>Siape:</b> <%= @professor.siape %></span>
        <span><b>E-mail:</b> <%= @professor.email %></span>
      </div>
    </div>
    <% if @professores.turmas.any? %>
      <h4 class="text-center mt-3">Turmas</h4>
      <%= render partial: 'turmas/turmas', locals: { turmas: @professor.turmas } %>
    <% else %>
      <p class="text-center mt-3">O aluno não dá aula a nenhuma turma.</p>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
</div>